/* Image Selector */
.image-selector .item {
  width: 100px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
.image-selector .item.selected {
  border: 2px solid rgb(66, 66, 228);
}
.image-selector .item .item-body {
  padding: 10px;
}
.image-selector .item img {
  max-width: 100%;
}

/* Carousel */

.slick-slide img {
  width: 99%;
}

.slick-next:before,
.slick-prev:before {
  color: #000;
}

.slick-initialized .slick-slide {
  cursor: pointer;
}

/* Image Viewer */
.image-viewer {
  text-align: center;
  margin-bottom: 10px;
}
.image-viewer img {
  width: 500px;
  max-width: 100%;
}
.image-viewer .image-container {
  border: 1px solid #abafc3;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}
.image-viewer .image-container p {
  padding-top: 10px;
}
